:roo {
--color-primary: #0073ff;
--color-white:#e9e9e9;
--color-black:#141d28
--color-black-1:#212b38
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 1em sans-serif;
    background-color: rgb(12, 26, 27);
}

.nav{

    display:flex;
    background-color: rgb(3, 3, 16);
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
}
.nav ul{
    list-style: none;
    display: flex;
    
}
.nav ul li{
    padding: 10px 30px;
    position: relative;
}
.nav ul li a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;

}
.nav ul li a:hover{
    color: blue;
}

.login1{
background-color: red;
padding: 10px;
border-radius: 15px;
text-align: center;
color: black;
font-weight: bolder;

}
.login1:hover{
color: aqua;
}
.signup1{
    background-color: red;
padding: 10px;
border-radius: 15px;
text-align: center;
color: black;
font-weight: bolder;
}

.signup1:hover{
    color: aqua;
}
.footer1{

    height: 50%;
    width: 100%;
    background-image: url(bottombb.jpg);
    background-size: cover;
    
}
.FOOTERP1{
    color: whitesmoke;
    font-size: 25PX;
    text-align: CENTER;
    line-height: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
    font-weight: bold;
    font-family: sans-serif;

}
.FOOTERP2{
    color: WHITE;
    background-color: rgb(7, 71, 50);
    height: 40PX;
    font-size: 25PX;
    padding: 10px;
    width: 100PX;
    margin-left: 600px;
    border-radius: 10px;
    
}
.footer2{
    display: flex;
    background-color: black;
    position:relative;
}
.logoname{
    margin-left:10 px;
    display: flex;
}
.footerabout{
    display:list-item;
    margin-left: 150px;
}
.FOOTERNAME{
    color: white;
    
}
.FOOTERNAME2{
    color: red; 
    
}
.service1{
    color: white;
    font-size: 40px;
    text-align: center;

}
.service2{
    color: rgb(34, 90, 83);
    font-size: 30px;
    text-decoration: none;
}
.service3{
    color:  rgb(34, 90, 83);
    font-size: 30px;
    text-decoration: none;
}
.footerlink{
display: list-item;
margin-left: 150px;
}
.footercontactmain{
    color: white;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.footerhome{
    color:  rgb(34, 90, 83);
    font-size: 30px;
    text-decoration: none;
}
.footerabout1{
    color:  rgb(34, 90, 83);
    font-size: 30px;
    text-decoration: none;
}
.footerfaq{
    color:  rgb(34, 90, 83);
    font-size: 30px;
    text-decoration: none;
}
.footercontact{
    color:  rgb(34, 90, 83);
    font-size: 30px;
    text-decoration: none;
}
.icon{
    display: flex;
    gap: 10px;
    margin-left: 150px;
    margin-top: 100px;
}
.fa-instagram{
    color: white;
    font-size: 40px;
}
.fa-facebook{
    color: white;
    background-color: #0073ff;
    font-size: 40px;
}
.fa-square-whatsapp{
    color: rgb(33, 182, 86);
    background-color:white;
    font-size: 40px;
}
.fa-square-twitter{
    color: white;
    background-color:black;
    font-size: 40px;
}
.fa-square-youtube{
    color: white;
    background-color:rgb(236, 18, 18);
    font-size: 40px;
}
.k{
    padding-bottom: 30px;
}



.content{
   
    background-color:whitesmoke;
    margin-left: 35%;
    margin-top: 9%;
    height: 400px;
    width: 500px;
    border-radius:25px ;
}
.content{
    text-align: center;
    color: red;
    padding-top: 10px;
    font-size: 2em;
}
img{
    margin-top: px;
}
#input1{
    height: 35px;
    margin-bottom: 10px;
    width:300px;
    background-color: bisque;
    border: 0;
    
}
.content4{

color: rgb(255, 254, 254);
display: flex;
margin-left: 110px;
text-align: center;

height: 35px;
border-radius: 50px;
font-size: smaller;
margin-top: 25px;
padding: 2px;
color: red;



}
#submit{
width: 100px;
color: white;
background-color: blue;
border-radius: 25pc;
font-weight: bold;
}
.content1{
    font-size:35px;
    text-align: center;
    color: red;
    margin-top: 50px;
    font-weight: 900;
    font-style: italic;
}
#for{
    
    color: black;
    background-color: transparent;
    border: 0;
    font-weight: bold;
   
    text-align: left;
    font-size: smalle;
    background-color: ;
    width: 200px;
    margin-left:6px;
    margin-top: 0px;
    text-align: center;

    
}
.content5{
    display: flex;
    color: black;
    margin-left: 120px;
    font-size: 20px;
}
#sub{
    margin-left: 10px;
    color: red;
    background-color: transparent;
    border: 0;
    font-weight: old;
    margin-bottom: 10px;
}
#p2{
    margin-top: 45px;
    color: gray;
    font-size: 15px;
}
